body {
    padding-top: 42px;
}

.navbar .navbar-collapse {
    text-align: center;
}

div.topbar {
    background-color: lightgray;
    padding: .25rem!important;
    max-width: 100%;
    margin: 0!important;
}

div.topbar button {
    margin-left: .06rem!important;
    margin-right: .06rem!important;
}

div.topbar-wrapper {
    padding: 0px;
}

div.topbar-wrapper div.text-left {
    padding-left: 0px;
}

div.topbar-wrapper div.text-right {
    padding-right: 0px;
}

.imgcard {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25%;
    min-width: 25%;
    overflow: hidden;
    position: relative;
}

@media (max-width: 768px) {
    .imgcard {
        min-width: 33%;
        padding-bottom: 33%;
    }
}

@media (max-width: 400px) {
    .imgcard {
        min-width: 50%;
        padding-bottom: 50%;
    }
}

.card-gallery {
    padding: 0px;
}

.imgcard-content {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    padding: 0px;
    border: 0px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
    }
}

.gallery-img {
    width: 100%;
}

.imgcard-directory {
    background-color: peachpuff;
    display: grid;
}

.imgcard-file {
    background-color: black;
}

.folder-icon {
    font-size: calc(min(max(200%, 4vw), 48px));
}

.folder-str {
    font-size: calc(min(max(150%, 3vw), 36px));
}

.my-list-move {
    transition: transform 1s;
}

.my-list-enter,
.my-list-leave-to {
    transform: opacity 0s;
}

.my-list-enter-active,
.my-list-leave-active {
    transition: opacity 0s;
}

[v-cloak] {
    display: none;
}

.img-viewer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1031;
}

.modal-wrapper {
    background-color: black;
    height: 100%;
    padding: 0px;
    position: relative;
}

.modal-canvas {
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
}

.modal-canvas img {
    max-width: 100%;
    max-height: 100%;
}

.modal-info {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    height: 40px;
}

/* .img-transition {
    transition: transform 1s;
}

.img-transition-enter,
.img-transition-leave-to {
    transform: translateX(10px) 2s;
}

.img-transition-enter-active,
.img-transition-leave-active {
    transition: translateX(30px) 2s;
} */

